.container {
  height: 100%;
  width: 1120px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 64px 0 32px 0;
}

@media (max-width: 1150px) {
  .container {
    padding: 64px 20px 20px;
  }
}
