.container {
  width: min(1120px, 100%);
  padding: 64px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.quest {
  display: flex;
  gap: 1rem;
  background: var(--gray-600);
  padding: 2rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  width: 100%;
  opacity: .9;
}

.info strong {
  font-size: 1.25rem;
  color: var(--gray-100);
}

.info p {
  margin-top: 1rem;
  color: var(--gray-300);
}