.container {
  display: flex;
  height: 100%;
  background: var(--gray-700);  
  border-top: 1px solid rgb(70, 70, 70);
  border-bottom: 1px solid rgb(70, 70, 70);
}

.nav {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  border-right: 1px solid rgb(70, 70, 70);
}

.button {
  width: 250px;
  padding: 0.75rem 1.5rem;
  border: 0;
  border-right: 2px solid transparent;
  background: transparent;
  color: var(--gray-500);
  cursor: pointer;
}

.buttonActive {
  padding: 0.75rem 1.5rem;
  border: 0;
  border-right: 2px solid var(--purple-300);
  background: transparent;
  color: var(--purple-300);
  cursor: pointer;
}

.content {
  flex-grow: 1;
  background: var(--white);
  color: var(--gray-300);
}
