.wrapper {
  min-height: 100vh;
  background: url('../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  min-height: calc(100vh - 64px - 76px);
  display: flex;
  justify-content: center;
}
